CentOS   7	7.1.1503/updates/x86_64/Packages		x86_64  rsync   anonymous       mirror.de.leaseweb.net		centos	CentOS	updates
CentOS   7	7.1.1503/os/x86_64/Packages			x86_64  rsync   anonymous       mirror.de.leaseweb.net       	centos	CentOS	newpackage
